*{ /*seletor para resetar as bordas da página*/
    padding: 0px;
    margin: 0px;
}

:root{ /*seletor raiz para variáveis*/
    ---cor-de-fundo: #8cc28c;
    --cor-da-letra: black;
}

body{ /*seletor body*/
    background-color: var(---cor-de-fundo);
}
